* {
  margin: 0;
  padding: 0;
}
.App {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  background: rgb(24, 24, 24);

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  main {
    margin-top: 90px;
    padding-inline: 30px;
  }
}